.btn__counter {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
}

.btn__counter:hover {
  color: rgb(206, 129, 29);
  border: 1px solid rgb(206, 129, 29);
}
