h1,
h5 {
  margin-bottom: 10px;
}
h5 {
  margin-top: 0;
}

p {
  margin: 10px 0;
}
.wrapper {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px 50px;
  background-color: cadetblue;
}

.wrapper h1 {
  display: flex;
  justify-content: center;
}

/* .wrapper__name button,
.card__control button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
}

.wrapper__name button:hover,
.card__control button:hover {
  color: aquamarine;
  border: 1px solid aquamarine;
} */

.wrapper button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
}

.wrapper button:hover,
.wrapper .card__control button:hover {
  color: aquamarine;
  border: 1px solid aquamarine;
}

.card {
  margin-bottom: 20px;
}
