body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  color: darkgreen;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-element {
  font-size: 22px;
  color: rgb(95, 49, 16);
}

/* form */

.form-input__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-input__wrapper input {
  margin-bottom: 8px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 3px;
  padding: 6px;
  font-size: 15px;
}

.form-input__wrapper span {
  margin-bottom: 5px;
}

/* main auth */
/* lesson 4 */

a {
  text-decoration: none;
}

.form,
main h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
